<h1 class="mb-4">
    {{ session.title }}
</h1>

<div class="navbar navbar-light bg-white border rounded mb-4 shadow-sm">
    <div class="form-inline">
        <button type="button" class="btn btn-outline-secondary" (click)="backToList()">
            Back
        </button>
    </div>

    <div class="form-inline">
        <button type="button" class="btn" [class.btn-success]="session.isSaved" [class.btn-primary]="!session.isSaved"
            (click)="toggleSaved()">
            {{ session.isSaved ? 'Saved' : 'Save' }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                Description
            </div>

            <div class="card-body">
                {{ session.description || "(no description)" }}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                Where and When
            </div>

            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <strong class="mr-3">
                            Time
                        </strong>

                        <span class="text-right">
                            {{ session.time }}
                        </span>
                    </div>
                </div>

                <div class="list-group-item" *ngIf="session.track">
                    <div class="d-flex w-100 justify-content-between">
                        <strong class="mr-3">
                            Track
                        </strong>

                        <span class="text-right">
                            {{ session.track }}
                        </span>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <strong class="mr-3">
                            Room

                        </strong>

                        <span class="text-right">
                            {{ session.room }}
                        </span>
                    </div>
                </div>

                <div class="list-group-item" *ngIf="session.theatres.length">
                    <div class="d-flex w-100 justify-content-between">
                        <strong class="mr-3">
                            Theaters
                        </strong>

                        <span class="text-right">
                            <span *ngFor="let theatre of session.theatres">
                                <strong *ngIf="theatre.speaker">
                                    {{ theatre.theatre }}
                                </strong>

                                <span *ngIf="!theatre.speaker">
                                    {{ theatre.theatre }}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="session.speakerName">
    <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                Speaker
            </div>

            <div class="card-body">
                <img *ngIf="session.speakerImage" [src]="session.speakerImage" [alt]="session.speakerName"
                    class="img-fluid rounded-circle w-75 mx-auto d-block mb-4" />

                <strong class="d-block">{{ session.speakerName }}</strong>
                {{ session.speakerTitle }}
            </div>
        </div>
    </div>

    <div [class.col-md-6]="session.speakerLinks !== null && session.speakerLinks.length"
        [class.col-md-9]="session.speakerLinks === null || !session.speakerLinks.length">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                Speaker Bio
            </div>

            <div class="card-body">
                {{ session.speakerBio }}
            </div>
        </div>
    </div>

    <div class="col-md-3" *ngIf="session.speakerLinks !== null && session.speakerLinks.length">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                Speaker Links
            </div>

            <div class="list-group list-group-flush">
                <a *ngFor="let link of session.speakerLinks" class="list-group-item list-group-item-action"
                    [href]="link.url" target="_blank">
                    {{ link.title }}
                </a>
            </div>
        </div>
    </div>
</div>