$enable-shadows: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body,
nav.navbar,
.navbar-wrapper {
  background-color: #770477;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}
