
$enable-shadows: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
    background-color: #770477;
}

html,
body {
    min-height: 100vh;
}

nav.navbar {
    background-color: #770477;
}
