<div *ngFor="let timeSlot of timeSlots" class="mb-5">
    <h3>{{ timeSlot.time }}</h3>

    <div class="list-group shadow-sm">
        <a *ngFor="let session of timeSlot.sessions"
           routerLink="/sessions/{{ session.id }}"
           class="list-group-item list-group-item-action"
           [class.list-group-item-info]="session.isSaved">
            <div class="row">
                <div class="col-sm-8 col-lg-6 align-top">
                    <strong>{{ session.title }}</strong>
                </div>

                <div class="col-sm-4 col-lg-3">
                    {{ session.speakerName }}
                </div>

                <div class="col-lg-3 d-none d-lg-block">
                    {{ session.track }}
                </div>
            </div>
        </a>
    </div>
</div>

<div *ngIf="!this.timeSlots.length" class="text-center mt-4 mb-5">
    Unable to load sessions. This either means they are loading slowly or failed to load.
</div>
